 <section id="employers" class="employers" style="background: #f7f9fc;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 style="font-weight: 700;">Seja uma empresa parceira</h2>
                    <p class="mt-4 text-center">
                        Entre em contato com a gente <br>
                        <a href="mailto:recoloca@feedz.com.br">recoloca@feedz.com.br</a>
                    </p>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                 <p>Veja algumas empresas que já são parceiras do projeto</p>

                <div class="partner">
                    <img src="/assets/img/employers/organica.png" alt="Organica" title="Organica">
                    <img src="/assets/img/employers/pontomais.png" alt="Ponto Mais" title="Ponto Mais">
                    <img src="/assets/img/employers/abler.png" alt="Abler" title="Abler">
                    <img src="/assets/img/employers/disys.png" alt="Disys" title="Disys">
                    <img src="/assets/img/employers/logo-hor1.png" alt="Gama Academy" title="Gama Academy">
                </div>
                <div class="partner">
                    <img src="/assets/img/employers/enlizt.png" alt="Enlizt" title="Enlizt">
                    <img src="/assets/img/employers/grupoh.png" alt="Grupo H" title="Grupo H">
                    <img src="/assets/img/employers/logo_distrito.png" alt="Distrito" title="Distrito">
                    <img src="/assets/img/employers/mjv.png" alt="MJV" title="MJV" width="90px">                    
                </div>
                
             </div>
        </div>
     </div>
</section>