<section id="employers" class="employers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 style="font-weight: 700;">Responsáveis pelo projeto</h2>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <div class="tumblr pt-4">
                    <img class="feedz" src="/assets/img/marca_color_fundo_branco.png" alt="Feedz" title="Feedz">
                    <img class="acate-people" src="/assets/img/employers/acate.png" alt="Acate" title="Acate">
                    <img class="acate-people" src="/assets/img/employers/acate-peopletech.png" alt="Acate Peopletech" title="Acate Peopletech">
                </div>
                
             </div>
        </div>
     </div>
</section>