<section id="faq" class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="faq-title">
                    <h2 style="font-weight: 700;">Dúvidas?</h2>
                    <p class="mt-4">Sua dúvida não está aqui? Podemos te ajudar.</p>
                    <span class="mr-3"><i class="fas fa-envelope mr-2"></i><a href="mailto:recoloca@feedz.com.br">recoloca@feedz.com.br</a></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="faq-collapse">
                    <div class="collapse-group">
                        <h6 class="float-left">O que é o Recoloca?</h6>
                        <span class="btn" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </div>
                    <div class="collapse" id="collapse1">
                        <div class="card card-body">
                            Uma solução gratuita que conecta colaboradores desligados em meio à crise desencadeada pela COVID-19 às empresas que têm necessidade urgente de contratação.
                        </div>
                    </div>
                </div>
                <div class="faq-collapse">
                    <div class="collapse-group">
                        <h6 class="float-left">Como funciona o cadastro?</h6>
                        <span class="btn" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </div>
                    <div class="collapse" id="collapse2">
                        <div class="card card-body">
                            O cadastro é bem simples, basta logar pelo Linkedin. Se você conhece alguém que foi desligado, compartilhe o Feedz Recoloca e ajude na recolocação.
                        </div>
                    </div>
                </div>
                
            </div>	
        </div>
    </div>
</section>