<section style="background: linear-gradient(44.35deg, #066BB3 34.34%, #30CFD0 99.12%);">
    <div class="container">
       <div class="row">
            <div class="col-md-12">
                <p class="text-center text-white text-justify message-text">
                    Nosso propósito é colaborar para manutenção do emprego, na luta contra o COVID-19.
                    Com o impacto do coronavirus na economia, inevitavelmente muitas empresas serão obrigadas a desligar bons talentos.
                    O que queremos então é que essa recolocação seja feita da forma mais rápida possível!
                </p>
            </div>
       </div>
    </div>
</section>